/*INFORMATION*/
.seccion {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

.saludo{
  font-family: underrated;
  font-size: 200%;
  text-align: center;
  padding: 20px;


}

.card {
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
}

.one {
  background-color: black;
  float: left;
  margin: 10px;
  margin-right: 20px;
  width: 25%;

}

.two {
  overflow: hidden;
  margin: 10px;
  min-height: 170px;
}

.img{
  width: 100%;
  height: auto;
  border: 2px solid blue;
  border-radius: 20px;
}



/*movile*/
@media screen and (max-width: 480px) {
  .one {
    width: auto;
    float: none;
    margin-right: 0;
  }

  .img{
    width: 100%;
    height: auto;
  }
}


