<div>
  <img class="img" src="{{ imageSource }}" alt="Italian Trulli" />
  <div>
    <div class="title">CONTANCTO</div>
    <div class="wrapper">
      <div class="one">
        <img
          class="img_mini"
          src="assets/images/llamadas.png"
          alt="Italian Trulli"
        />
      </div>
      <div class="two">
        <a href="https://wa.me/573228325684">+57 3228325684</a>

      </div>
    </div>
    <div class="wrapper">
      <div class="one">
        <img
          class="img_mini"
          src="assets/images/instagram.png"
          alt="Italian Trulli"
        />
      </div>

      <div class="two">

        <a href="https://www.instagram.com/serna_ans/">serna_ans</a>

      </div>
    </div>

    <div class="wrapper">
      <div class="one">
        <img
          class="img_mini"
          src="assets/images/linkedin.png"
          alt="Italian Trulli"
        />
      </div>
      <div class="two">
        <a href="https://www.linkedin.com/in/santiago-serna-b7933021a/">
          santiago-serna-b7933021a
        </a>
      </div>
    </div>

    <div class="wrapper">
      <div class="one">
        <img
          class="img_mini"
          src="assets/images/signo-de-github.png"
          alt="Italian Trulli"
        />
      </div>
      <div class="two">
        <a href="https://github.com/SernaANS">
          Github
        </a>
      </div>
    </div>
  </div>
</div>
