<div class="header">
  <nav class="nav container">
    <a href="index.html" class="nav__logo">Serna</a>

    <div class="{{ toggle ? 'nav__menu show-menu' : 'nav__menu' }}">
      <ul class="nav__list grid">
        <li class="nav__item">
          <a href="#baner" class="nav__link active-link">
            <i class="uil uil-home nav__icon"></i>Home
          </a>
        </li>

        <li class="nav__item">
          <a href="#about" class="nav__link">
            <i class="uil uil-user nav__icon"></i>About
          </a>
        </li>

        <li class="nav__item">
          <a href="#skills" class="nav__link">
            <i class="uil uil-file-alt nav__icon"></i>Skills
          </a>
        </li>

        <li class="nav__item">
          <a href="#qualification" class="nav__link">
            <i class="uil uil-scenery nav__icon"></i>Qualification
          </a>
        </li>

        <li class="nav__item">
          <a href="#proyects" class="nav__link">
            <i class="uil uil-briefcase-alt nav__icon"></i>Proyects
          </a>
        </li>
      </ul>

      <i class="uil uil-times nav__close" (click)="toggleNavbar()"></i>
    </div>

    <div class="nav__toggle" (click)="toggleNavbar()">
      <i class="uil uil-apps"></i>
    </div>
  </nav>
</div>
