<div class="container">
  <h1>Contact</h1>

  <ul class="social-media">
    <li>
      <a  href="https://github.com/SernaANS"><i class='bx bxl-github'></i></a>
    </li>
    <li>
      <a href="https://wa.link/60ul6g"><i class="bx bxl-whatsapp"></i></a>
    </li>

    <li>
      <a href="https://www.instagram.com/serna_ans/">
        <i class="bx bxl-instagram"></i>
      </a>
    </li>
  </ul>

  <ul class="contact-info">
    <li>Mobile: +57 3228325684</li>
    <li>serna.ans051930@gmail.com</li>
  </ul>
</div>
