/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: underrated;
    src: url(assets/fonts/underrated_font.otf) format("opentype");
}

@font-face {
    font-family: montserrat_light;
    src: url(assets/fonts/montserrat_full_version/Montserrat-Light.otf) format("opentype");
}

@font-face {
    font-family: montserrat_medium;
    src: url(assets/fonts/montserrat_full_version/Montserrat-Medium.otf) format("opentype");
}

body { 
    margin: 0; 
    padding: 0;
}
