<div class="seccion">
  <div class="info">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates eaque
    id iste, dolor omnis, earum eos consectetur neque tempore iure inventore
    adipisci repellat ipsum, placeat vitae in eveniet harum nihil.
  </div>

  <div class="wrapper">
    <div class="one">
      <div class="line"></div>
      <div class="title">IDIOMAS</div>
      <div class="subtitle">Español (Nativo)</div>
      <div class="subtitle">Ingles (Basico)</div>
    </div>

    <div class="two">
      <div class="line"></div>
      <div class="title">EDUCACION</div>

      <div class="subtitle">Bachiller Academico</div>
      <div class="lugar">Escuela Normal Superior</div>

      <div class="subtitle">Egresado en Ingenieria De Software</div>
      <div class="lugar">Institucion Universitaria EAM</div>
    </div>
  </div>

  <div class="wrapper">
    <div class="one">
      <div class="line"></div>
      <div class="title">SKILLS</div>
      <div class="subtitle">Java</div>
      <div class="lugar">2 años</div>

      <div class="subtitle">Spring</div>
      <div class="lugar">1 años</div>
      <div class="subtitle">Flutter</div>
      <div class="lugar">1 años</div>
      <div class="subtitle">Kotlin</div>
      <div class="lugar">1 años</div>
      <div class="subtitle">Typescript</div>
      <div class="lugar">1 años</div>
    </div>

    <div class="two">
      <div class="line"></div>
      <div class="title">EXPERIENCIA</div>
      <div class="subtitle">Celuweb </div>
      <div class="lugar">1 año y 6 meses</div>

      <div class="subtitle">Lavelo Pues </div>
      <div class="lugar">6 meses</div>
    </div>
  </div>
</div>
