.seccion {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

.info {
  font-family: montserrat_light;
  margin-left: 10px;
}

.title {
  font-family: underrated;
}

.subtitle{
  font-family: montserrat_medium;
  margin-top: 20px;
  margin-left: 10px;
}

.lugar{
  font-family: montserrat_light;
  margin-left: 10px;
}



.line {
  border: 1px solid white;
}

.wrapper {
  border: 2px solid #000;
  overflow: hidden;
}

.one {
  float: left;
  margin: 10px;
  margin-right: 20px;
  width: 35%;
}

.two {
  overflow: hidden;
  margin: 10px;

}

@media screen and (max-width: 480px) {
  .one {
    width: auto;
    float: none;
    margin-right: 0;
  }
}
